.shopping-list {
	width: 100%;
}

.plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.items-btn{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
}